:root {
  --background-color: #FFFFFF;
  --text-color:#E79626;
  --primary: #384D42;
  --primary_1: #394833;
  --stroke-color: #E4E4E4;
  --secondary-color: #394833;
  --white-text-color: #FCFCFC;
  --gray: #fff;
  --gray_1: #fff;
  --black: #1C1C1C;
  --passive-text-color: #E3E3E3;
  --footer-bg:  rgba(246, 248, 245, 0.24);
  --text-color-2: #000;
  --background-color_1 : #fff;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
  background-color: var(--background-color_1);
  color: var(--text-color);
}

body.dark-mode {
  --text-color:  #fff;
  --background-color:#1C1C1C;
  --gray: #1C1C1C;
  --gray_1: #102322;
  --passive-text-color: #515151;
  --footer-bg: rgba(28, 28, 28, 0.24);
  --text-color-2: #FCFCFC;
  --background-color_1 : #102322;
  --primary: #DFE8E2;
  --primary_1: #DFE8E2;
  --secondary-color: #DFE8E2
}

body>div {
  max-width: 767px;
  margin: 0px auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* hide scrollbar for Chrome*/
*::-webkit-scrollbar {
  display: none;
}
